## Target Prediction
<div class="alert alert-block alert-info"> 
In this notebook we present the prediction of our target variable using the best model obteined in a previous notebook trhough a **Pipeline**.
    
- We first apply the pre-processing to the dataset without the target
    
- Then we apply the model with the best parameters, and predict our target

- Finally, we save our target in a JSON file

<b> Now the real staff beggins!</b> ü•Åü§π‚Äç‚ôÄÔ∏è  
</div>

<div class="alert alert-success">
<b>Importing the necessary libraries</b>

</div>

In [1]:
# Import basic required libraries
import pandas as pd
import numpy as np 
import json

## Plotting Libraries
import matplotlib.pyplot as plt
import matplotlib_inline
from IPython.display import Image ##use the IPython Image object to display an Image
##To Plot interactively within an IPython notebook
%matplotlib inline 
import matplotlib.image as mpimg
import seaborn as sns 

## Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import basic modules from sklearn
from scipy import stats ## to check normality and variance of columns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn.preprocessing import OneHotEncoder, StandardScaler, RobustScaler, MinMaxScaler, LabelBinarizer, OrdinalEncoder

## Importn Classification models
from sklearn.ensemble import RandomForestClassifier
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

## Sabe pipeline
import joblib

<div class="alert alert-success">
<b>Load the dataset for training</b>

- And do a basic check
 
</div>

In [119]:
# df = pd.read_csv('test_NEW.csv')
df_train = pd.read_csv('train_NEW.csv')
# df.head()

In [120]:
## Printing the shape of the df
print(df_train.shape)

## Showing df information
df_train.info()

(276982, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276982 entries, 0 to 276981
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Date                   276982 non-null  object
 1   Origin Country         276982 non-null  object
 2   Origin Continent       276982 non-null  object
 3   Destination Country    276982 non-null  int64
 4   Destination Continent  276982 non-null  object
 5   Total flights          276982 non-null  object
 6   Total seats            276982 non-null  object
 7   Total ASKs             276982 non-null  object
dtypes: int64(1), object(7)
memory usage: 16.9+ MB

In [121]:
## Display training dataset
df_train

,Date,Origin Country,Origin Continent,Destination Country,Destination Continent,Total flights,Total seats,Total ASKs
0,Jul 2009,United Kingdom,Europe,13,Europe,"9,032","1,531,683","2,447,559,137"
1,Apr 2008,Lebanon,Middle East,9,Europe,5,760,"2,389,940"
2,Apr 2005,Switzerland,Europe,11,Europe,"1,471","158,661","66,533,450"
3,Aug 2016,Israel,Middle East,19,Europe,117,"23,366","61,557,637"
4,Feb 2019,Albania,Europe,8,Europe,80,"12,854","9,837,347"
...,...,...,...,...,...,...,...,...
276977,Jul 2012,Iraq,Middle East,21,Europe,4,744,"2,635,372"
276978,Jun 2007,Cyprus,Europe,4,Europe,64,"9,519","19,409,611"
276979,Sep 2007,Panama,Central America,17,North America,442,"63,061","161,243,990"
276980,Nov 2015,Russian Federation,Europe,9,Europe,90,"13,422","30,147,391"
276981,Feb 2016,Iceland,Europe,13,Europe,10,"2,000","8,046,076"

<div class="alert alert-success">
<b>Pre-processing of the test dataset</b>

- Here, we apply all the processing and pre-processing to the dataset detailed in previous notebooks.

- As a summary we change the dates (and do not encode them due to worts results), ensure all numbers are floats, and encode the Origin country    

</div>

In [122]:
# Convert the 'Date' column to datetime indicating the format in the same column Date
df_train['Date'] = pd.to_datetime(df_train['Date'], format='%b %Y')
## But with this we get also a day 01 which is not true
## We creat a column for the Year
df_train['Year'] = df_train['Date'].dt.year
## A column for the month
df_train['Month'] = df_train['Date'].dt.month
## Drope the column Date
df_train = df_train.drop(columns = ['Date'], axis = 1)

## and finally, reorganize the columns so the Year and Month appears at the begining
df_train_columns = df_train.columns.to_list()
df_train = df_train[df_train_columns[-2:] + df_train_columns[:-2]]

## Converting the string/number columns to float

## We do it with a for loop
## We first get again the df_train_columns list
df_train_columns = df_train.columns
## We do the loop for the last 3 columns, the ones we want to convert to float (-3)
for column in df_train_columns[-3:]: 
    ## Replacing the comma for an empty space
    df_train[column] = df_train[column].str.replace(',', '') 
    ## Converting  each column to float and filling nanas with 0
    df_train[column] = pd.to_numeric(df_train[column], errors='coerce').fillna(0).astype(float)
       

## Display X
df_train

,Year,Month,Origin Country,Origin Continent,Destination Country,Destination Continent,Total flights,Total seats,Total ASKs
0,2009,7,United Kingdom,Europe,13,Europe,9032.0,1531683.0,2.447559e+09
1,2008,4,Lebanon,Middle East,9,Europe,5.0,760.0,2.389940e+06
2,2005,4,Switzerland,Europe,11,Europe,1471.0,158661.0,6.653345e+07
3,2016,8,Israel,Middle East,19,Europe,117.0,23366.0,6.155764e+07
4,2019,2,Albania,Europe,8,Europe,80.0,12854.0,9.837347e+06
...,...,...,...,...,...,...,...,...,...
276977,2012,7,Iraq,Middle East,21,Europe,4.0,744.0,2.635372e+06
276978,2007,6,Cyprus,Europe,4,Europe,64.0,9519.0,1.940961e+07
276979,2007,9,Panama,Central America,17,North America,442.0,63061.0,1.612440e+08
276980,2015,11,Russian Federation,Europe,9,Europe,90.0,13422.0,3.014739e+07
276981,2016,2,Iceland,Europe,13,Europe,10.0,2000.0,8.046076e+06

In [123]:
## Encoding Manually with ordinals the Origine country, origin continent and destination continent
# read the JSON file into a dictionary
with open('encode_countries.json', 'r') as f:
    #label_mapping = json.load(f)
    encodedCountries = json.load(f)


## Creat a list with all the unique labels of countris
unique_OriginContry = df_train['Origin Country'].unique()

## Loop throug the countries list
for label in unique_OriginContry:
    ## if the label is not in the countries dictionary, assingne 1 more of the maximum number and addit to the list
    if label not in encodedCountries:
        encodedCountries[label] = max(encodedCountries.values()) + 1

## Map the Origin Country column with the dicctionary of codes
df_train['Origin Country'] = df_train['Origin Country'].map(encodedCountries)


## Display X
df_train

,Year,Month,Origin Country,Origin Continent,Destination Country,Destination Continent,Total flights,Total seats,Total ASKs
0,2009,7,15,Europe,13,Europe,9032.0,1531683.0,2.447559e+09
1,2008,4,25,Middle East,9,Europe,5.0,760.0,2.389940e+06
2,2005,4,14,Europe,11,Europe,1471.0,158661.0,6.653345e+07
3,2016,8,26,Middle East,19,Europe,117.0,23366.0,6.155764e+07
4,2019,2,27,Europe,8,Europe,80.0,12854.0,9.837347e+06
...,...,...,...,...,...,...,...,...,...
276977,2012,7,76,Middle East,21,Europe,4.0,744.0,2.635372e+06
276978,2007,6,70,Europe,4,Europe,64.0,9519.0,1.940961e+07
276979,2007,9,177,Central America,17,North America,442.0,63061.0,1.612440e+08
276980,2015,11,2,Europe,9,Europe,90.0,13422.0,3.014739e+07
276981,2016,2,171,Europe,13,Europe,10.0,2000.0,8.046076e+06

<div class="alert alert-success">
<b>Pipeline Pre-processing of the test dataset</b>

- Here, we include all the workfllow to the pipeline.
    1. Preprocessing od the training set
        - Robust scaler for 'Total flights', 'Total seats', 'Total ASKs' columns
        - One Hote encoder for 'Origin Continent', 'Destination Continent' columns
        - MinMax scaler for 'Origin Country', 'Year', 'Month' columns


</div>

In [124]:
numeric_features = ['Total flights', 'Total seats', 'Total ASKs']
numeric_transformer = Pipeline(
    [
        ('imputer_num', SimpleImputer(strategy = 'median')),
        ('robust', RobustScaler())
    ]
)


categorical_features = ['Origin Continent', 'Destination Continent']
categorical_transformer = Pipeline(
    [
        ('imputer_cat', SimpleImputer(strategy = 'most_frequent', fill_value = 'missing')),
        ('onehot', OneHotEncoder(handle_unknown = 'ignore'))
    ]
)

numeric_features_minmax = ['Origin Country', 'Year', 'Month', 'Total flights', 'Total seats', 'Total ASKs']
numeric_transformer_minmax = Pipeline(
    [
        ('imputer_num', SimpleImputer(strategy = 'median')),
        ('minmax', MinMaxScaler())
    ]
)

<div class="alert alert-success">
<b></b>

2. Put all these pre-processing to the object preprocessor


</div>

In [125]:
preprocessor = ColumnTransformer(
    [
        ('categoricals', categorical_transformer, categorical_features),
        ('numericals', numeric_transformer, numeric_features),
        ('numericals_minmax', numeric_transformer_minmax, numeric_features_minmax)
        
    ],
    remainder = 'drop'
)

<div class="alert alert-success">
<b></b>

3. Include the preprocessor object and the model to the pipeline


</div>

In [126]:
pipeline = Pipeline(
    [
        ('preprocessing', preprocessor),
        ('model', RandomForestClassifier(n_estimators= 200, 
                                 min_samples_split = 8,
                                 min_samples_leaf = 4, 
                                 max_features = 'auto',
                                 max_depth = None,
                                 bootstrap = False, 
                                 random_state = 42))
    ]
)
pipeline

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(transformers=[('categoricals',
                                                  Pipeline(steps=[('imputer_cat',
                                                                   SimpleImputer(fill_value='missing',
                                                                                 strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['Origin Continent',
                                                   'Destination Continent']),
                                                 ('numericals',
                                                  Pipeline(steps=[('imputer_num',
                                                                   SimpleImputer(strategy='median')),
                                                                  (...
                                                   'Total seats',
                                                   'Total ASKs']),
                                                 ('numericals_minmax',
                                                  Pipeline(steps=[('imputer_num',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('minmax',
                                                                   MinMaxScaler())]),
                                                  ['Origin Country', 'Year',
                                                   'Month', 'Total flights',
                                                   'Total seats',
                                                   'Total ASKs'])])),
                ('model',
                 RandomForestClassifier(bootstrap=False, max_features='auto',
                                        min_samples_leaf=4, min_samples_split=8,
                                        n_estimators=200, random_state=42))])

<div class="alert alert-success">
<b>Train the Pipeline</b>

- First separate the training data into features and target

</div>

In [127]:
## Create features and target , X and y, fromdf
## 
X_train = df_train
## Create features df
X_train = df_train.drop(['Destination Country'], axis=1)

## Crete target df
y_train = df_train['Destination Country']

### Drop everything from the train dataframes to free up space
df_train.iloc[0:0]

## Display X
X_train

,Year,Month,Origin Country,Origin Continent,Destination Continent,Total flights,Total seats,Total ASKs
0,2009,7,15,Europe,Europe,9032.0,1531683.0,2.447559e+09
1,2008,4,25,Middle East,Europe,5.0,760.0,2.389940e+06
2,2005,4,14,Europe,Europe,1471.0,158661.0,6.653345e+07
3,2016,8,26,Middle East,Europe,117.0,23366.0,6.155764e+07
4,2019,2,27,Europe,Europe,80.0,12854.0,9.837347e+06
...,...,...,...,...,...,...,...,...
276977,2012,7,76,Middle East,Europe,4.0,744.0,2.635372e+06
276978,2007,6,70,Europe,Europe,64.0,9519.0,1.940961e+07
276979,2007,9,177,Central America,North America,442.0,63061.0,1.612440e+08
276980,2015,11,2,Europe,Europe,90.0,13422.0,3.014739e+07
276981,2016,2,171,Europe,Europe,10.0,2000.0,8.046076e+06

In [128]:
## Display y_train
y_train

0         13
1          9
2         11
3         19
4          8
          ..
276977    21
276978     4
276979    17
276980     9
276981    13
Name: Destination Country, Length: 276982, dtype: int64

In [129]:
## Train the pipline with training data
pipeline.fit(X_train,y_train)

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(transformers=[('categoricals',
                                                  Pipeline(steps=[('imputer_cat',
                                                                   SimpleImputer(fill_value='missing',
                                                                                 strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['Origin Continent',
                                                   'Destination Continent']),
                                                 ('numericals',
                                                  Pipeline(steps=[('imputer_num',
                                                                   SimpleImputer(strategy='median')),
                                                                  (...
                                                   'Total seats',
                                                   'Total ASKs']),
                                                 ('numericals_minmax',
                                                  Pipeline(steps=[('imputer_num',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('minmax',
                                                                   MinMaxScaler())]),
                                                  ['Origin Country', 'Year',
                                                   'Month', 'Total flights',
                                                   'Total seats',
                                                   'Total ASKs'])])),
                ('model',
                 RandomForestClassifier(bootstrap=False, max_features='auto',
                                        min_samples_leaf=4, min_samples_split=8,
                                        n_estimators=200, random_state=42))])

In [130]:
### Drop everything from the train dataframes to free up space
y_train.iloc[0:0]
X_train.iloc[0:0]

Empty DataFrame
Columns: [Year, Month, Origin Country, Origin Continent, Destination Continent, Total flights, Total seats, Total ASKs]
Index: []

<div class="alert alert-success">
<b>Predict the target with Pipeline</b>

- First load the data 
- Then apply the first processing to it
- Use thepipeline to predict the target


</div>

In [131]:
## Loading test data
XX_test = pd.read_csv('test_NEW.csv')

In [132]:
## Create features for test data

# Convert the 'Date' column to datetime indicating the format in the same column Date
XX_test['Date'] = pd.to_datetime(XX_test['Date'], format='%b %Y')
## But with this we get also a day 01 which is not true
## We creat a column for the Year
XX_test['Year'] = XX_test['Date'].dt.year
## A column for the month
XX_test['Month'] = XX_test['Date'].dt.month
## Drope the column Date
XX_test = XX_test.drop(columns = ['Date'], axis = 1)

## and finally, reorganize the columns so the Year and Month appears at the begining
XX_test_columns = XX_test.columns.to_list()
XX_test = XX_test[XX_test_columns[-2:] + XX_test_columns[:-2]]

## Converting the string/number columns to float

## We do it with a for loop
## We first get again the XX_test_columns list
XX_test_columns = XX_test.columns
## We do the loop for the last 3 columns, the ones we want to convert to float (-3)
for column in XX_test_columns[-3:]: 
    ## Replacing the comma for an empty space
    XX_test[column] = XX_test[column].str.replace(',', '') 
    ## Converting  each column to float and filling nanas with 0
    XX_test[column] = pd.to_numeric(XX_test[column], errors='coerce').fillna(0).astype(float)
    

## Encoding Manually with ordinals the Origine country, origin continent and destination continent
# read the JSON file into a dictionary
with open('encode_countries.json', 'r') as f:
    #label_mapping = json.load(f)
    encodedCountries = json.load(f)


## Creat a list with all the unique labels of countris
unique_OriginContry = XX_test['Origin Country'].unique()

## Loop throug the countries list
for label in unique_OriginContry:
    ## if the label is not in the countries dictionary, assingne 1 more of the maximum number and addit to the list
    if label not in encodedCountries:
        encodedCountries[label] = max(encodedCountries.values()) + 1

## Map the Origin Country column with the dicctionary of codes
XX_test['Origin Country'] = XX_test['Origin Country'].map(encodedCountries)

## Display X
XX_test

,Year,Month,Origin Country,Origin Continent,Destination Continent,Total flights,Total seats,Total ASKs
0,2006,2,2,Europe,Europe,168.0,18269.0,30375905.0
1,2017,4,19,Europe,Europe,211.0,38974.0,63519202.0
2,2014,9,15,Europe,Asia,459.0,129105.0,924093500.0
3,2004,8,15,Europe,Europe,3607.0,530792.0,680683678.0
4,2010,12,25,Middle East,Europe,35.0,5860.0,21011724.0
...,...,...,...,...,...,...,...,...
69241,2017,9,24,Middle East,Europe,120.0,39753.0,202770716.0
69242,2020,9,20,Europe,Africa,1.0,174.0,635379.0
69243,2013,4,106,Africa,Middle East,51.0,12792.0,64930542.0
69244,2007,12,13,Europe,Africa,70.0,10842.0,35771177.0
69245,2011,7,89,Asia,Asia,13.0,3757.0,16451997.0

In [133]:
## predict results with the pipeline and test data
y_pred = pipeline.predict(XX_test)

In [134]:
## Display predicted data
y_pred

array([ 4, 13,  1, ...,  3, 10,  1], dtype=int64)

In [135]:
## Drop everything from the dataframe to free up space
XX_test.iloc[0:0]

Empty DataFrame
Columns: [Year, Month, Origin Country, Origin Continent, Destination Continent, Total flights, Total seats, Total ASKs]
Index: []

<div class="alert alert-success">
<b>Write the prediction to a JSON file!</b>

- The instructions are:
    - The file you have to submit should be a JSON like this:
    - You must indicate the key target of how it is displayed; the value will be the JSON of the results of the prediction model. In these predictions the key will correspond to the row with the test_idx and the value will be the prediction made by your model.

    
</div>

In [136]:
## Define a function to write the JSON file with the prediction as required
def write_to_json(array, filename):
    data = {"target": {str(i): int(v) for i, v in enumerate(array)}}
    with open(filename, "w") as f:
        json.dump(data, f)

In [137]:
write_to_json(y_pred, "predictions_CBiCa_x.json")

In [138]:
with open('predictions_CBiCa_x.json', 'r') as f:
    prediction = json.load(f)

In [118]:
prediction

{'target': {'0': 4,
  '1': 8,
  '2': 1,
  '3': 7,
  '4': 19,
  '5': 7,
  '6': 4,
  '7': 10,
  '8': 8,
  '9': 11,
  '10': 21,
  '11': 1,
  '12': 10,
  '13': 18,
  '14': 7,
  '15': 2,
  '16': 2,
  '17': 19,
  '18': 16,
  '19': 10,
  '20': 10,
  '21': 20,
  '22': 19,
  '23': 22,
  '24': 22,
  '25': 14,
  '26': 6,
  '27': 5,
  '28': 17,
  '29': 6,
  '30': 17,
  '31': 8,
  '32': 7,
  '33': 8,
  '34': 4,
  '35': 13,
  '36': 15,
  '37': 0,
  '38': 10,
  '39': 2,
  '40': 15,
  '41': 15,
  '42': 21,
  '43': 7,
  '44': 18,
  '45': 23,
  '46': 12,
  '47': 23,
  '48': 9,
  '49': 16,
  '50': 2,
  '51': 13,
  '52': 1,
  '53': 22,
  '54': 22,
  '55': 12,
  '56': 5,
  '57': 15,
  '58': 6,
  '59': 4,
  '60': 12,
  '61': 13,
  '62': 19,
  '63': 8,
  '64': 6,
  '65': 12,
  '66': 20,
  '67': 14,
  '68': 2,
  '69': 15,
  '70': 2,
  '71': 21,
  '72': 15,
  '73': 14,
  '74': 23,
  '75': 2,
  '76': 11,
  '77': 11,
  '78': 15,
  '79': 17,
  '80': 11,
  '81': 10,
  '82': 11,
  '83': 2,
  '84': 17,
  '85': 13,
  '86': 21,
  '87': 2,
  '88': 10,
  '89': 8,
  '90': 1,
  '91': 20,
  '92': 15,
  '93': 7,
  '94': 4,
  '95': 18,
  '96': 10,
  '97': 8,
  '98': 17,
  '99': 12,
  '100': 10,
  '101': 19,
  '102': 15,
  '103': 21,
  '104': 4,
  '105': 3,
  '106': 18,
  '107': 15,
  '108': 17,
  '109': 20,
  '110': 2,
  '111': 2,
  '112': 5,
  '113': 16,
  '114': 13,
  '115': 11,
  '116': 11,
  '117': 1,
  '118': 22,
  '119': 24,
  '120': 11,
  '121': 22,
  '122': 24,
  '123': 11,
  '124': 4,
  '125': 15,
  '126': 8,
  '127': 23,
  '128': 24,
  '129': 15,
  '130': 8,
  '131': 0,
  '132': 11,
  '133': 18,
  '134': 2,
  '135': 2,
  '136': 3,
  '137': 3,
  '138': 0,
  '139': 21,
  '140': 8,
  '141': 24,
  '142': 5,
  '143': 8,
  '144': 15,
  '145': 18,
  '146': 10,
  '147': 8,
  '148': 19,
  '149': 20,
  '150': 5,
  '151': 0,
  '152': 3,
  '153': 17,
  '154': 24,
  '155': 3,
  '156': 8,
  '157': 15,
  '158': 7,
  '159': 7,
  '160': 17,
  '161': 20,
  '162': 15,
  '163': 8,
  '164': 14,
  '165': 5,
  '166': 3,
  '167': 10,
  '168': 19,
  '169': 22,
  '170': 0,
  '171': 2,
  '172': 14,
  '173': 7,
  '174': 15,
  '175': 11,
  '176': 0,
  '177': 24,
  '178': 20,
  '179': 4,
  '180': 17,
  '181': 24,
  '182': 15,
  '183': 17,
  '184': 9,
  '185': 11,
  '186': 13,
  '187': 1,
  '188': 3,
  '189': 21,
  '190': 5,
  '191': 10,
  '192': 10,
  '193': 22,
  '194': 15,
  '195': 10,
  '196': 17,
  '197': 14,
  '198': 10,
  '199': 13,
  '200': 6,
  '201': 0,
  '202': 17,
  '203': 2,
  '204': 19,
  '205': 13,
  '206': 17,
  '207': 24,
  '208': 14,
  '209': 1,
  '210': 15,
  '211': 8,
  '212': 17,
  '213': 4,
  '214': 14,
  '215': 20,
  '216': 8,
  '217': 2,
  '218': 8,
  '219': 2,
  '220': 19,
  '221': 2,
  '222': 4,
  '223': 14,
  '224': 7,
  '225': 15,
  '226': 0,
  '227': 11,
  '228': 24,
  '229': 0,
  '230': 5,
  '231': 4,
  '232': 2,
  '233': 8,
  '234': 19,
  '235': 13,
  '236': 2,
  '237': 22,
  '238': 24,
  '239': 15,
  '240': 17,
  '241': 17,
  '242': 8,
  '243': 5,
  '244': 1,
  '245': 11,
  '246': 1,
  '247': 11,
  '248': 22,
  '249': 5,
  '250': 3,
  '251': 15,
  '252': 21,
  '253': 3,
  '254': 15,
  '255': 15,
  '256': 18,
  '257': 22,
  '258': 18,
  '259': 4,
  '260': 15,
  '261': 15,
  '262': 18,
  '263': 6,
  '264': 5,
  '265': 8,
  '266': 10,
  '267': 1,
  '268': 5,
  '269': 22,
  '270': 11,
  '271': 4,
  '272': 15,
  '273': 8,
  '274': 12,
  '275': 2,
  '276': 8,
  '277': 14,
  '278': 10,
  '279': 8,
  '280': 21,
  '281': 10,
  '282': 9,
  '283': 17,
  '284': 0,
  '285': 22,
  '286': 1,
  '287': 4,
  '288': 16,
  '289': 3,
  '290': 3,
  '291': 13,
  '292': 18,
  '293': 22,
  '294': 5,
  '295': 19,
  '296': 22,
  '297': 11,
  '298': 15,
  '299': 16,
  '300': 17,
  '301': 18,
  '302': 18,
  '303': 11,
  '304': 13,
  '305': 11,
  '306': 21,
  '307': 8,
  '308': 5,
  '309': 17,
  '310': 13,
  '311': 7,
  '312': 1,
  '313': 4,
  '314': 7,
  '315': 2,
  '316': 3,
  '317': 22,
  '318': 8,
  '319': 4,
  '320': 13,
  '321': 4,
  '322': 2,
  '323': 21,
  '324': 5,
  '325': 23,
  '326': 24,
  '327': 2,
  '328': 10,
  '329': 1,
  '330': 7,
  '331': 17,
  '332': 18,
  '333': 7,
  '334': 22,
  '335': 7,
  '336': 11,
  '337': 13,
  '338': 21,
  '339': 19,
  '340': 5,
  '341': 24,
  '342': 4,
  '343': 2,
  '344': 16,
  '345': 24,
  '346': 24,
  '347': 23,
  '348': 11,
  '349': 17,
  '350': 7,
  '351': 17,
  '352': 18,
  '353': 4,
  '354': 23,
  '355': 9,
  '356': 3,
  '357': 4,
  '358': 5,
  '359': 10,
  '360': 13,
  '361': 15,
  '362': 14,
  '363': 6,
  '364': 12,
  '365': 23,
  '366': 11,
  '367': 19,
  '368': 24,
  '369': 21,
  '370': 17,
  '371': 24,
  '372': 20,
  '373': 7,
  '374': 0,
  '375': 19,
  '376': 21,
  '377': 17,
  '378': 9,
  '379': 14,
  '380': 20,
  '381': 15,
  '382': 1,
  '383': 15,
  '384': 8,
  '385': 11,
  '386': 8,
  '387': 8,
  '388': 20,
  '389': 9,
  '390': 23,
  '391': 20,
  '392': 11,
  '393': 0,
  '394': 5,
  '395': 4,
  '396': 11,
  '397': 1,
  '398': 4,
  '399': 21,
  '400': 2,
  '401': 5,
  '402': 24,
  '403': 12,
  '404': 22,
  '405': 1,
  '406': 19,
  '407': 0,
  '408': 14,
  '409': 16,
  '410': 10,
  '411': 17,
  '412': 5,
  '413': 5,
  '414': 15,
  '415': 12,
  '416': 15,
  '417': 3,
  '418': 20,
  '419': 14,
  '420': 1,
  '421': 18,
  '422': 21,
  '423': 5,
  '424': 0,
  '425': 13,
  '426': 7,
  '427': 24,
  '428': 11,
  '429': 5,
  '430': 8,
  '431': 18,
  '432': 20,
  '433': 11,
  '434': 5,
  '435': 2,
  '436': 23,
  '437': 2,
  '438': 22,
  '439': 14,
  '440': 10,
  '441': 15,
  '442': 20,
  '443': 5,
  '444': 10,
  '445': 4,
  '446': 24,
  '447': 5,
  '448': 2,
  '449': 18,
  '450': 7,
  '451': 13,
  '452': 8,
  '453': 5,
  '454': 12,
  '455': 3,
  '456': 17,
  '457': 20,
  '458': 21,
  '459': 15,
  '460': 4,
  '461': 5,
  '462': 9,
  '463': 17,
  '464': 22,
  '465': 4,
  '466': 5,
  '467': 15,
  '468': 15,
  '469': 4,
  '470': 23,
  '471': 0,
  '472': 12,
  '473': 14,
  '474': 17,
  '475': 15,
  '476': 9,
  '477': 16,
  '478': 15,
  '479': 10,
  '480': 21,
  '481': 5,
  '482': 0,
  '483': 15,
  '484': 2,
  '485': 3,
  '486': 4,
  '487': 16,
  '488': 21,
  '489': 8,
  '490': 2,
  '491': 8,
  '492': 11,
  '493': 4,
  '494': 2,
  '495': 21,
  '496': 3,
  '497': 13,
  '498': 12,
  '499': 18,
  '500': 14,
  '501': 18,
  '502': 22,
  '503': 2,
  '504': 17,
  '505': 19,
  '506': 13,
  '507': 3,
  '508': 24,
  '509': 6,
  '510': 14,
  '511': 23,
  '512': 3,
  '513': 13,
  '514': 16,
  '515': 21,
  '516': 1,
  '517': 16,
  '518': 24,
  '519': 20,
  '520': 19,
  '521': 12,
  '522': 3,
  '523': 13,
  '524': 15,
  '525': 0,
  '526': 16,
  '527': 9,
  '528': 17,
  '529': 7,
  '530': 17,
  '531': 13,
  '532': 23,
  '533': 21,
  '534': 0,
  '535': 18,
  '536': 7,
  '537': 11,
  '538': 12,
  '539': 11,
  '540': 5,
  '541': 13,
  '542': 22,
  '543': 5,
  '544': 15,
  '545': 15,
  '546': 23,
  '547': 1,
  '548': 8,
  '549': 18,
  '550': 2,
  '551': 23,
  '552': 0,
  '553': 22,
  '554': 14,
  '555': 2,
  '556': 13,
  '557': 21,
  '558': 11,
  '559': 13,
  '560': 20,
  '561': 24,
  '562': 21,
  '563': 3,
  '564': 13,
  '565': 3,
  '566': 21,
  '567': 9,
  '568': 2,
  '569': 8,
  '570': 3,
  '571': 1,
  '572': 14,
  '573': 11,
  '574': 1,
  '575': 20,
  '576': 21,
  '577': 2,
  '578': 14,
  '579': 19,
  '580': 21,
  '581': 17,
  '582': 1,
  '583': 1,
  '584': 19,
  '585': 2,
  '586': 17,
  '587': 16,
  '588': 20,
  '589': 9,
  '590': 21,
  '591': 21,
  '592': 18,
  '593': 11,
  '594': 8,
  '595': 4,
  '596': 12,
  '597': 8,
  '598': 11,
  '599': 2,
  '600': 21,
  '601': 15,
  '602': 11,
  '603': 8,
  '604': 17,
  '605': 18,
  '606': 24,
  '607': 23,
  '608': 8,
  '609': 24,
  '610': 19,
  '611': 0,
  '612': 18,
  '613': 15,
  '614': 16,
  '615': 22,
  '616': 11,
  '617': 12,
  '618': 6,
  '619': 20,
  '620': 17,
  '621': 9,
  '622': 20,
  '623': 17,
  '624': 4,
  '625': 22,
  '626': 4,
  '627': 22,
  '628': 13,
  '629': 5,
  '630': 0,
  '631': 15,
  '632': 9,
  '633': 13,
  '634': 17,
  '635': 16,
  '636': 15,
  '637': 14,
  '638': 11,
  '639': 17,
  '640': 14,
  '641': 8,
  '642': 11,
  '643': 24,
  '644': 6,
  '645': 7,
  '646': 11,
  '647': 0,
  '648': 0,
  '649': 15,
  '650': 5,
  '651': 3,
  '652': 7,
  '653': 11,
  '654': 17,
  '655': 1,
  '656': 11,
  '657': 3,
  '658': 16,
  '659': 4,
  '660': 4,
  '661': 17,
  '662': 2,
  '663': 11,
  '664': 4,
  '665': 23,
  '666': 5,
  '667': 9,
  '668': 17,
  '669': 5,
  '670': 21,
  '671': 15,
  '672': 16,
  '673': 2,
  '674': 22,
  '675': 14,
  '676': 23,
  '677': 15,
  '678': 0,
  '679': 19,
  '680': 2,
  '681': 5,
  '682': 15,
  '683': 9,
  '684': 8,
  '685': 9,
  '686': 2,
  '687': 8,
  '688': 18,
  '689': 8,
  '690': 19,
  '691': 12,
  '692': 15,
  '693': 11,
  '694': 14,
  '695': 1,
  '696': 20,
  '697': 8,
  '698': 8,
  '699': 18,
  '700': 12,
  '701': 23,
  '702': 8,
  '703': 16,
  '704': 11,
  '705': 5,
  '706': 7,
  '707': 6,
  '708': 15,
  '709': 23,
  '710': 15,
  '711': 22,
  '712': 5,
  '713': 10,
  '714': 9,
  '715': 9,
  '716': 6,
  '717': 13,
  '718': 15,
  '719': 24,
  '720': 13,
  '721': 15,
  '722': 11,
  '723': 8,
  '724': 8,
  '725': 5,
  '726': 5,
  '727': 0,
  '728': 6,
  '729': 2,
  '730': 24,
  '731': 14,
  '732': 3,
  '733': 24,
  '734': 17,
  '735': 15,
  '736': 15,
  '737': 23,
  '738': 1,
  '739': 11,
  '740': 0,
  '741': 4,
  '742': 21,
  '743': 17,
  '744': 11,
  '745': 22,
  '746': 8,
  '747': 16,
  '748': 9,
  '749': 20,
  '750': 5,
  '751': 3,
  '752': 7,
  '753': 2,
  '754': 15,
  '755': 2,
  '756': 10,
  '757': 13,
  '758': 12,
  '759': 2,
  '760': 18,
  '761': 16,
  '762': 7,
  '763': 6,
  '764': 7,
  '765': 15,
  '766': 2,
  '767': 3,
  '768': 13,
  '769': 22,
  '770': 7,
  '771': 8,
  '772': 14,
  '773': 15,
  '774': 13,
  '775': 20,
  '776': 15,
  '777': 20,
  '778': 22,
  '779': 18,
  '780': 24,
  '781': 14,
  '782': 2,
  '783': 4,
  '784': 14,
  '785': 11,
  '786': 11,
  '787': 19,
  '788': 3,
  '789': 17,
  '790': 10,
  '791': 1,
  '792': 18,
  '793': 2,
  '794': 17,
  '795': 17,
  '796': 2,
  '797': 17,
  '798': 21,
  '799': 14,
  '800': 7,
  '801': 8,
  '802': 0,
  '803': 7,
  '804': 15,
  '805': 1,
  '806': 11,
  '807': 7,
  '808': 0,
  '809': 18,
  '810': 19,
  '811': 5,
  '812': 9,
  '813': 12,
  '814': 15,
  '815': 3,
  '816': 1,
  '817': 3,
  '818': 23,
  '819': 5,
  '820': 20,
  '821': 17,
  '822': 5,
  '823': 24,
  '824': 15,
  '825': 17,
  '826': 1,
  '827': 8,
  '828': 21,
  '829': 22,
  '830': 10,
  '831': 17,
  '832': 10,
  '833': 8,
  '834': 5,
  '835': 21,
  '836': 20,
  '837': 17,
  '838': 7,
  '839': 7,
  '840': 17,
  '841': 0,
  '842': 13,
  '843': 6,
  '844': 8,
  '845': 11,
  '846': 3,
  '847': 22,
  '848': 21,
  '849': 13,
  '850': 22,
  '851': 17,
  '852': 17,
  '853': 12,
  '854': 16,
  '855': 9,
  '856': 8,
  '857': 15,
  '858': 11,
  '859': 5,
  '860': 7,
  '861': 10,
  '862': 16,
  '863': 6,
  '864': 4,
  '865': 20,
  '866': 9,
  '867': 4,
  '868': 15,
  '869': 18,
  '870': 2,
  '871': 17,
  '872': 17,
  '873': 14,
  '874': 8,
  '875': 2,
  '876': 2,
  '877': 7,
  '878': 19,
  '879': 4,
  '880': 3,
  '881': 1,
  '882': 7,
  '883': 13,
  '884': 3,
  '885': 15,
  '886': 13,
  '887': 13,
  '888': 6,
  '889': 0,
  '890': 24,
  '891': 12,
  '892': 17,
  '893': 8,
  '894': 2,
  '895': 18,
  '896': 6,
  '897': 10,
  '898': 11,
  '899': 2,
  '900': 11,
  '901': 15,
  '902': 22,
  '903': 21,
  '904': 3,
  '905': 17,
  '906': 21,
  '907': 8,
  '908': 11,
  '909': 2,
  '910': 2,
  '911': 5,
  '912': 15,
  '913': 2,
  '914': 7,
  '915': 0,
  '916': 11,
  '917': 22,
  '918': 3,
  '919': 3,
  '920': 14,
  '921': 20,
  '922': 5,
  '923': 3,
  '924': 3,
  '925': 2,
  '926': 17,
  '927': 24,
  '928': 21,
  '929': 4,
  '930': 3,
  '931': 5,
  '932': 15,
  '933': 17,
  '934': 11,
  '935': 15,
  '936': 3,
  '937': 19,
  '938': 11,
  '939': 12,
  '940': 3,
  '941': 6,
  '942': 15,
  '943': 15,
  '944': 15,
  '945': 21,
  '946': 1,
  '947': 6,
  '948': 23,
  '949': 6,
  '950': 5,
  '951': 8,
  '952': 14,
  '953': 20,
  '954': 24,
  '955': 13,
  '956': 22,
  '957': 17,
  '958': 3,
  '959': 2,
  '960': 6,
  '961': 18,
  '962': 17,
  '963': 14,
  '964': 18,
  '965': 5,
  '966': 8,
  '967': 1,
  '968': 24,
  '969': 18,
  '970': 22,
  '971': 22,
  '972': 17,
  '973': 6,
  '974': 2,
  '975': 24,
  '976': 8,
  '977': 13,
  '978': 10,
  '979': 17,
  '980': 18,
  '981': 6,
  '982': 8,
  '983': 18,
  '984': 4,
  '985': 7,
  '986': 23,
  '987': 0,
  '988': 16,
  '989': 18,
  '990': 13,
  '991': 5,
  '992': 21,
  '993': 2,
  '994': 6,
  '995': 5,
  '996': 8,
  '997': 7,
  '998': 2,
  '999': 3,
  ...}}

In [76]:
## Cheking the dictionary values if they are corresponding to the reox index
inner_dict = prediction['target']
shape = len(inner_dict)
print(shape)

69246